html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  background-color: #222;
  background-image: linear-gradient(0deg, #222225, #22222a);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #eee;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  margin: 0;
  padding-left: 1.2rem;
  list-style-type: "> ";
}

a {
  color: #8bc34a;
}

h1.title {
  text-align: center;
}

header {
  padding: 2rem 2rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  padding: 2rem;
}